# Docker
Dockerfile
Dockerfile.adapter
.dockerignore

# Git
.git
.github

# Environment
env/*.env
venv

# Makefile
downloads

# Unit test / Coverage reports
**/.cache
**/.coverage
**/.pytest_cache
.coverage
reports
share

# PyCharm
.idea

# vscode
.vscode

# Build artifacts
**/__pycache__
**/*.py[cod]
*.egg-info
*.egg[s]
build
dist
pip-selfcheck.json

# Project
**/custom.ini
**/config.yaml
docs
magpieenv
magpie/api_docs
magpie/api_test
magpie/ui/swagger-ui/magpie-rest-api.json
magpie/bin
magpie/include
magpie/lib
magpie/local
magpie/share
src
error_log.txt
gunicorn.app.wsgiapp
