Dockerfile
.dockerignore

**/custom.ini
**/config.yaml

.git
.coverage
.eggs
build
dist

env/*.env
*.egg-info
docs/_build
docs/magpie.esgf.rst
docs/magpie.home.rst
docs/magpie.local.rst
docs/magpie.login.rst
docs/magpie.management.rst
docs/magpie.tests.rst
docs/magpie.rst
magpieenv
magpie/api_docs
magpie/api_test
magpie/ui/swagger-ui/magpie-rest-api.json
magpie/bin
magpie/include
magpie/lib
magpie/local
magpie/pip-selfcheck.json
magpie/share
magpie.egg-info
src
share
downloads

# Unit test / Coverage reports
**/.cache
**/.coverage
**/.pytest_cache

# PyCharm
.idea

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]
