__pycache__/
*.pyc
.coverage
.idea/
.vscode
.eggs/
.pytest_cache/
docker-compose.yml
coverage.xml
build/
coverage/
dist/
docs/_build/
docs/magpie.esgf.rst
docs/magpie.home.rst
docs/magpie.local.rst
docs/magpie.login.rst
docs/magpie.management.rst
docs/magpie.tests.rst
docs/magpie.rst
downloads/
magpieenv/
magpie/api_docs/
magpie/api_test/
magpie/ui/swagger-ui/magpie-rest-api.json
magpie/bin/
magpie/include/
magpie/lib/
magpie/local/
magpie/pip-selfcheck.json
magpie/share/
magpie.egg-info/
requirements-all.txt
src/
share/
tests/results.xml
gunicorn.app.wsgiapp
sys
error_log.txt
