# Python & Build
__pycache__
*.py[cio]
*.egg*
build
dist
downloads
magpieenv
pip-selfcheck.json
src
share

# Makefile
Makefile.config

# IDE
.idea
.vscode

# Tests & CI
.coverage*
.pytest_cache
bandit.txt
coverage.*
coverage
docker-compose.yml
docker-compose.override.yml
reports
results.*

# Docs
docs/_build
docs/magpie.esgf.rst
docs/magpie.home.rst
docs/magpie.local.rst
docs/magpie.login.rst
docs/magpie.management.rst
docs/magpie.tests.rst
docs/magpie.rst

# Repo
magpie/api_docs
magpie/api_test
magpie/bin
magpie/include
magpie/lib
magpie/local
magpie/ui/swagger-ui/magpie-rest-api.json
requirements-all.txt
gunicorn.app.wsgiapp
error_log.txt
