version: "3"
services:
  postgres:
    image: "postgres:latest"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: qwerty
      POSTGRES_DB: magpie
      POSTGRES_USER: magpie
  magpie:
    restart: always
    image: pavics/magpie:latest
    build: .
    depends_on:
      - postgres
    links:
      - postgres
    ports:
      - "2001:2001"
    environment:
      HOSTNAME: $HOST_FQDN
      FORWARDED_ALLOW_IPS: "*"
      MAGPIE_URL : https://localhost/magpie  # change this url depending of your setup
      MAGPIE_SECRET : itzaseekrit
      MAGPIE_ADMIN_GROUP : administrators
      MAGPIE_ADMIN_USER : admin
      MAGPIE_ADMIN_PASSWORD : minimum-12-char
      MAGPIE_USER_GROUP : users
      MAGPIE_ANONYMOUS_USER : anonymous
      MAGPIE_PORT : 2001
      MAGPIE_LOG_LEVEL : INFO
      TWITCHER_PROTECTED_PATH : /twitcher/ows/proxy
      POSTGRES_USER : magpie
      POSTGRES_PASSWORD : qwerty
      POSTGRES_PORT : 5432
      POSTGRES_HOST : postgres
      POSTGRES_DB : magpie
      MAGPIE_POSTGRES_USERNAME : magpie
      MAGPIE_POSTGRES_PASSWORD : qwerty
      MAGPIE_POSTGRES_DB : magpie
      MAGPIE_POSTGRES_PORT : 5432
      MAGPIE_POSTGRES_HOST : postgres
