-r requirements-sys.txt
-r requirements-doc.txt
# pin authlib to patch broken safety dependency chain
authlib<1.8.0
autopep8>=2.3.2
bandit==1.9.4
bump-my-version==1.5.1
codacy-coverage>=1.3.11
coverage>=5.5
doc8>=1.1.2
docformatter
flake8
isort>5.5,!=5.11.0
mock>4
# FIXME: use temporary unofficial version working with pylint>3 (https://github.com/edaniszewski/pylint-quotes/pull/30)
pylint>=3
pylint_quotes @ git+https://github.com/marekhanus/pylint-quotes.git@0.3.0a2
pylint-per-file-ignores
# bird-house/twticher, must match version in Dockerfile.adapater
pyramid-twitcher>=0.11.2
pytest
pytest-httpserver==1.1.5
safety
tox>=3.0
webtest
waitress
