alembic==0.9.6
bcrypt==3.1.6
beaker
colander
cornice
cornice_swagger>=0.7.0
gunicorn==19.9.0
humanize
lxml>=3.7
paste
pastedeploy
pluggy
psycopg2-binary>=2.7.1
pyramid==1.10.2
pyramid_beaker==0.8
pyramid_chameleon==0.3
pyramid_mako>=1.0.2
pyramid_tm==2.2.1
python-dotenv
pyyaml>=5.1
requests
requests_file
simplejson
six
sqlalchemy
sqlalchemy_utils
threddsclient==0.4.1
transaction
typing
wheel==0.33.0
webob
ziggurat-foundations==0.8.3
zope.sqlalchemy==1.1
# TODO: remove when merged
#   until fix merged and deployed (https://github.com/authomatic/authomatic/pull/195)
#   old variants:
#       -e git+https://github.com/fmigneault/authomatic.git@httplib-port#egg=Authomatic
#       https://github.com/fmigneault/authomatic/archive/httplib-port.zip#egg=Authomatic-1.0.1
#   new authomatic handles openid install correctly
#   leave http port until merged:
authomatic[OpenID] @ https://github.com/fmigneault/authomatic/archive/httplib-port.zip
