-r requirements-sys.txt
-r requirements-doc.txt
autopep8>=1.5.4
bandit==1.7.7
bump2version==1.0.1
codacy-coverage>=1.3.11
coverage>=5.5
doc8>=0.8
docformatter
flake8
isort>5.5,!=5.11.0
mock>4
# ignore 2.12 bad docstring asterisks args handling (https://github.com/PyCQA/pylint/issues/5406)
pylint>=2.11,!=2.12,!=2.15
pylint-quotes
# bird-house/twticher, must match version in Dockerfile.adapater
pyramid-twitcher>=0.10.0
pytest
safety
tox>=3.0
webtest
waitress
