-r requirements-docs.txt
autopep8
backports.tempfile; python < "3"
bandit
bump2version
codacy-coverage
coverage==4.0; python_version < "3"
coverage; python_version >= "3"
doc8
docformatter
flake8
isort
mock
# FIXME: wait for implementation
#   https://github.com/PyCQA/astroid/issues/713
#   https://github.com/PyCQA/astroid/pull/841
pylint<2.5
pylint-quotes
pytest
tox>=3.0
webtest
