# these are doc-only requirements
# we actually need to install all requirements during docs build because of OpenAPI generation
# (see 'docs/conf.py')
pycodestyle
sphinx-autoapi
sphinx-paramlinks
sphinx>=1.6
sphinxcontrib-redoc
