-r requirements-sys.txt
alembic>=1.10
authomatic[OpenID]==1.3.0
bcrypt>=3.1.6
# FIXME: integrate when implemnted by official package (see https://github.com/bbangert/beaker/issues/201)
beaker @ https://github.com/crim-ca/beaker/archive/0ac88bcd8cca063a571fc385ffbe9bcc8acaa690.zip
colander
cornice
cornice_swagger>=0.7.0
dicttoxml
gunicorn>=22
humanize
jsonschema>=4
lxml>=3.7
mako  # controlled by pyramid_mako
paste
pastedeploy
pluggy
psycopg2-binary>=2.7.1
pyramid>=1.10.2,<2
pyramid_beaker==0.8
pyramid_chameleon>=0.3
pyramid_mako>=1.0.2
pyramid_retry==2.1.1
pyramid_tm>=2.2.1
python-dotenv
pyyaml>=5.1
requests>=2.32.4; python_version < "3.9"  # pyup: ignore  # noqa
requests>=2.32.5; python_version >= "3.9"
requests_file
simplejson
six>=1.12.0
# see also: safety 51668, https://github.com/sqlalchemy/sqlalchemy/pull/8563
sqlalchemy>=1.4.44,<2  # pyup: ignore
# see also: safety 42194, https://github.com/kvesteri/sqlalchemy-utils/issues/166, not fixed since 2015
sqlalchemy-utils==0.39.0  # pyup: ignore
threddsclient>=0.4.2
transaction
typing_extensions
urllib3>=2.2.2; python_version < "3.9"  # pyup: ignore  # noqa
urllib3>=2.6.0; python_version >= "3.9"
wheel>=0.38
webob
ziggurat_foundations==0.9.1
zope.interface>=4.7.2,<5
zope.sqlalchemy==1.6
zipp>=3.19.1
