# these are doc-only requirements
# we actually need to install all requirements during docs build because of OpenAPI generation
# (see 'docs/conf.py')
pycodestyle
sphinx-autoapi
sphinx-paramlinks>=0.4.1
sphinx>=2.4
sphinxcontrib-redoc>=1.6.0
sphinx_autodoc_typehints[type_comments]
