# these are doc-only requirements
# we actually need to install all requirements during docs build because of OpenAPI generation
# (see 'docs/conf.py')
pycodestyle
# sphinx-autoapi dropped 3.5 support at 1.3.0
# latest to fullfil requirements, but that is not the main doc builder version
sphinx-autoapi; python_version < "3.6"
sphinx-autoapi>=1.3.0; python_version >= "3.6"
sphinx-paramlinks>=0.4.1
sphinx; python_version < "3"
sphinx>=3.0,<3.1; python_version >= "3"
sphinxcontrib-redoc>=1.6.0
sphinx_autodoc_typehints[type_comments]; python_version < "3.6"
sphinx_autodoc_typehints[type_comments]>=1.11.0; python_version >= "3.6"
