table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.current_tab a{
	color: #5E5E5E;
	line-height:1.5em;
	width:90%;
	margin:0 auto 2em;
}

a.current_tab:link, a.current_tab:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.tab:link, a.tab:visited {
    background-color: #ff43ff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.Collapsable input {
    float:left;
    padding: 5px 100px;
    border: 1px solid #eee;
}

li.Expanded {
    list-style-image: url('${request.static_url('management:static/ArrowExpanded.jpg')}');
}

li.Collapsed {
    list-style-image: url('${request.static_url('management:static/ArrowCollapsed.jpg')}');
}

div.tree_item {
    display:block;
    float:left;
}

div.perm_checkbox {
    display:block;
    width:5em;
    float:right;
}
.clear {
  clear: both;
}

li {
    border: 1px solid #dddddd;
}

li:nth-child(even) {
    background-color: #dddddd;
}