html,body {
    margin:0;
    padding:0;
    border:0;
    font-family: "Open Sans";
}

.content {
    margin: 5em;
}

.img_button {
	padding: 0.7em;
    margin: 1em 0em 1em;
}

input[type="submit"].button.disabled,
input[type="submit"].button.disabled:hover,
input[type="submit"].button.disabled:focus,
input[type="button"].button.disabled,
input[type="button"].button.disabled:hover,
input[type="button"].button.disabled:focus {
    border: 1px solid #808080;
    background-color: #DDDDDD;
    color: #808080;
    vertical-align: center;
    cursor:not-allowed;
}

input[type="button"].button.delete,
input[type="submit"].button.delete {
    border: 1px solid #8B3A3A;
    background-color: #CD0000;
    color: white;
    vertical-align: center;
    cursor:pointer;
}

input[type="button"].button.delete:hover,
input[type="button"].button.delete:focus,
input[type="submit"].button.delete:hover,
input[type="submit"].button.delete:focus {
	background-color: #EE6363;
}

input[type="button"].button.cancel,
input[type="submit"].button.cancel {
    border: 1px solid #808080;
    background-color: #A9A9A9;
    color: #444444;
}

a.tab:link,
a.tab:visited,
.img_button,
.admin_button,
input[type="submit"],
 input[type="submit"].button.normal {
    border: 1px solid #2C8F30;
    background-color: #4CAF50;
    color: white;
    vertical-align: center;
    cursor:pointer;
}

a.tab:hover, a.tab:active,
.img_button:hover, .img_button:focus,
.admin_button:hover, .admin_button:active,
input[type="submit"]:hover, input[type="submit"]:focus {
	background-color: #5CBF60;
}

.img_button,
input[type="button"],
input[type="submit"] {
    border-radius: 3px;
}

input[type="button"],
input[type="submit"] {
    height: 2em;
}

.tree input[type="submit"] {
    height: 1.5em;
}

.img_button>img {
	height: 1em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    /*background-color: #dddddd;*/
}

.checkbox_align label {
  display: block;
  /*float: left;*/
  padding-right: 10px;
  padding-bottom: 1em;
  white-space: nowrap;
}
.checkbox_align input {
  vertical-align: middle;
}
.checkbox_align label span {
  vertical-align: middle;
}


/*---Panel Information Box---*/

.panel_box {
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    border-color: #ddd;
    margin-top: 10px;
    padding: 1px;
}

.panel_heading {
    background-color: #f5f5f5;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #ddd;
    color: #333;
    padding: 10px 15px;
}

.panel_heading_button {
    float: right!important;
    margin-top: -3px;
}

.panel_body {
    padding: 15px;
}

.panel_line {
    margin: 0.5em;
}

.panel_line input[type="submit"] {
    height: auto;
}

.panel_title {
    font-weight: bold;
}

.panel_entry {
    font-weight: bold;
}

.panel_value {
}

/*---Labels---*/

.label {
    display: inline;
    padding: .2em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #5BC0DE; /*info default*/ 
}

.label.danger {
    background-color: #CD0000;
}

.label.warning {
    background-color: #F0AD4E;
}

.label.info {
    background-color: #5BC0DE;
}

.label.success {
    background-color: #4CAF50;
}

/*---Alerts---*/

.alert {
    padding: 20px;    
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    display: none;              /*hidden default*/
    background-color: #2196F3;  /*info default*/
}

.alert.danger {
    background-color: #F44336;
}

.alert.warning {
    background-color: #FF9900;
}

.alert.info {
    background-color: #2196F3;
}

.alert.success {
    background-color: #4CAF50;
}

.alert_title {
    margin: 0;
}

.alert_title.danger {
    color: #660000;
}

.alert_title.warning {
    color: #994400;
}

.alert_title.info {
    color: #FFFFFF;
}

.alert_title.success {
    color: #666600;
}

.alert_button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert_button:hover {
    color: black;
}

/*---View users page ---*/

.simple_list_table tr th:first-child,
 tr td:first-child {
    width: 75%;
    text-align: left;
}

.simple_list_table tr, th:not(:first-child) {
    text-align: center;
}

.simple_list_table input[type="submit"] {
    margin: 0 0.5em;
}

/*---Resource tree rendering ---*/

.tree {
    background: white;
}

.tree_header {
    padding: 5em 0em 2em;
    font-weight: bold;
}

.tree li {
    border-bottom: 1px solid #dddddd;
    list-style-type: circle;
    line-height: 24px;
    padding-bottom: 4px;
}

.Collapsable input {
    float:left;
    padding: 5px 100px;
    border: 1px solid #eee;
    cursor:pointer;
}

div.tree_item {
    display:block;
    float:left;
}

div.perm_title {
    width:3em;
    float:right;
    text-align: left;

    -webkit-transform: rotate(-70deg); /* Safari */
    -moz-transform: rotate(-70deg); /* Firefox */
    -ms-transform: rotate(-70deg); /* IE */
    -o-transform: rotate(-70deg); /* Opera */
}

.tree_button.goto_service {
    margin: 0.1em 0 0 -4em;
}

div.perm_checkbox {
    width:3em;
    float:right;
    text-align: left;
    margin: 0.1em 0 0 0;
}

div.tree_button {
    width:5em;
    float:right;
    text-align: center;
    margin: 0.1em 0 0 0;
}

.clear {
  clear: both;
}

/*---Header breadcrumb---*/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #DDDDDD;
    content: ">\00a0";
}
ul.breadcrumb li a {
    color: #DDDDDD;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}

/*---Header---*/

.header {
	background: #000000;

    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left bottom, black, gray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom top, black, gray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom top, black, gray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom top, black, gray); /* Standard syntax (must be last) */
    padding: 1em 1em 0em 1em;
}

.header{
    vertical-align: center;
}

.header>a{
	color: white;
	font-size: 3em;
	text-decoration: none;
	float: left;
	vertical-align: center;
}

.header>button{
	height: 40px;
    width: 100px;
    float: right;
}

/*---Home---*/

/*  when the screen width is too small, force
    buttons block-stacking with style override,
    otherwise use default side-by-side view.
    60em number from margins and button sizes
*/
@media only screen and (max-width: 60em) {
    .admin_content {
        display: inline;
    }
}

.admin_content {
    width: 100%;
    text-align: center;
}

.admin_button {
    margin: auto;
    width: 100%;
}

.admin_button {
    display:inline-block;
    box-sizing: border-box;
    width: 10em;
    margin: 3em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    background: white;
    color: black;
    border-radius: 3px;
    height: 10em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.admin_button>img {
    height: 60%;
    padding: 5%;
}

/*---Service tabs---*/

.tabs_panel {
    background: #ddd;
    padding: 1px;
}

.current_tab_panel {
    background: white;
    padding: 1em;
    margin: 0;
    border: 1px solid white;
    min-height: 10em;
}

a.current_tab:link, a.current_tab:visited {
    background-color: white;
    color: black;
    padding: 1em 1em 1.4em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a.tab:link, a.tab:visited {
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*---service details---*/

table.service_details {
    table-layout: fixed;
}

/*---field_form---*/

.new_item_form {
    margin: auto;
    width: 30%;
    min-width: 500px;
}

table.fields_table th, table.fields_table td {
    border: 0;
}

table.fields_table td.centered {
    text-align: center;
}

table.fields_table input[type="radio"] {
    margin-left: 2em;
}

/*---field form equal width inputs
support different browsers using an higher level container
---*/

select.equal_width,
option.equal_width,
input.equal_width {
    width: 250px;
    /*-webkit-box-sizing: border-box;*/
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

div.input_container {
    width: 100%;
    height:100%;
    -webkit-box-sizing: border-box;
}
