/*
Note:
    Theme must be loaded before this file.
    They are employed for buttons, headers, etc. unless overridden here for specific use-case.
*/

html,
body {
    margin:0;
    padding:0;
    border:0;
    font-family: "Open Sans", sans-serif;
}

.content {
    margin: 5em;
}

.img-button {
    padding: 0.7em;
    margin: 1em 0 1em;
}

.img-button>img {
    color: black;
    vertical-align: -0.1em;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}

input[type="submit"].img-button.disabled,
input[type="submit"].img-button.disabled:hover,
input[type="submit"].img-button.disabled:focus,
input[type="button"].img-button.disabled,
input[type="button"].img-button.disabled:hover,
input[type="button"].img-button.disabled:focus,
input[type="submit"].button.disabled,
input[type="submit"].button.disabled:hover,
input[type="submit"].button.disabled:focus,
input[type="button"].button.disabled,
input[type="button"].button.disabled:hover,
input[type="button"].button.disabled:focus {
    border: 1px solid #808080;
    background-color: #DDDDDD;
    color: #808080;
    vertical-align: center;
    cursor:not-allowed;
}

input[type="button"].img-button.delete,
input[type="submit"].img-button.delete,
input[type="button"].button.delete,
input[type="submit"].button.delete {
    border: 1px solid #8B3A3A;
    background-color: #CD0000;
    color: white;
    vertical-align: center;
    cursor:pointer;
}

input[type="button"].img-button.delete:hover,
input[type="button"].img-button.delete:focus,
input[type="submit"].img-button.delete:hover,
input[type="submit"].img-button.delete:focus,
input[type="button"].button.delete:hover,
input[type="button"].button.delete:focus,
input[type="submit"].button.delete:hover,
input[type="submit"].button.delete:focus {
    background-color: #EE6363;
}

input[type="button"].img-button-warning,
input[type="submit"].img-button-warning,
input[type="button"].button-warning,
input[type="submit"].button-warning {
    border: 1px solid #8B3A3A;
    background-color: #CD6600;
    color: white;
    vertical-align: center;
    cursor:pointer;
}

input[type="button"].img-button.warning:hover,
input[type="button"].img-button.warning:focus,
input[type="submit"].img-button.warning:hover,
input[type="submit"].img-button.warning:focus,
input[type="button"].button.warning:hover,
input[type="button"].button.warning:focus,
input[type="submit"].button.warning:hover,
input[type="submit"].button.warning:focus {
    background-color: #FFAA33;
}

input[type="button"].img-button.cancel,
input[type="submit"].img-button.cancel,
input[type="button"].button.cancel,
input[type="submit"].button.cancel {
    border: 1px solid #808080;
    background-color: #A9A9A9;
    color: #444444;
}

a.tab:link,
a.tab:visited,
.img-button,
.admin-button,
input[type="submit"],
input[type="submit"].button.normal {
    vertical-align: center;
    cursor:pointer;
    text-decoration: none;
    color: #FFFFFF;
}

.img-button,
input[type="button"],
input[type="submit"] {
    border-radius: 3px;
}

input[type="button"],
input[type="submit"] {
    height: 2em;
}

.tree input[type="submit"] {
    height: 1.5em;
}

.img-button>img {
    height: 1em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

table thead {
    color: white;
    font-weight: bold;
}

.checkbox-align label {
  display: block;
  /*float: left;*/
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 1em;
  white-space: nowrap;
}
.checkbox-align input {
  vertical-align: middle;
}
.checkbox-align label span {
  vertical-align: middle;
}

/*---Panel Information Box---*/

.panel-box {
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 4px;
    margin-top: 10px;
    padding: 1px;
}

.panel-heading {
    border-bottom: 1px solid #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    font-weight: bold;
}

.subsection {
    background-color: #CCCCCC;
}

.panel-heading-button {
    float: right;
    margin-top: -3px;
}

.panel-body {
    padding: 15px;
}

.panel-line {
    margin: 0.5em;
}

.panel-line input[type="submit"] {
    height: auto;
}

.panel-title {
    font-weight: bold;
}

.panel-entry {
    font-weight: bold;
}

.panel-value {
}

/*---Labels---*/

.label {
    display: inline;
    padding: .2em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #5BC0DE; /*info default*/
}

.label-danger {
    background-color: #CD0000;
}

.label-warning {
    background-color: #F0AD4E;
}

.label-info {
    background-color: #5BC0DE;
}

.label-success {
    background-color: #4CAF50;
}

/*---Alerts---*/

.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    display: none;              /*hidden default*/
    background-color: #2196F3;  /*info default*/
}

.alert-danger {
    background-color: #F44336;
}

.alert-warning {
    background-color: #FF9900;
}

.alert-info {
    background-color: #2196F3;
}

.alert-success {
    background-color: #4CAF50;
}

.alert-visible {
    display: block; /*override hidden default*/
}

.alert-title {
    margin: 0;
}

.alert-title-danger {
    color: #660000;
}

.alert-title-warning {
    color: #994400;
}

.alert-title-info {
    color: #FFFFFF;
}

.alert-title-success {
    color: #FFFFFF;
}

.alert-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-button:hover {
    color: black;
}

.alert-form-error>img {
    width: 1.25em;
    height: 1.25em;
    margin: -0.1em 0.5em 0.15em 0;
}

.alert-form-error {
    width: 100px;
    display: inline-flex;
    float: left;
    text-align: center;
    margin: 0.25em 0 0 0;
}

.alert-form-text {
    color: #CD0000;
}

.alert-form-align {
    float: left;
    padding: 0 0.5em 0 0;
}

.icon-error {
}

.icon-warning {
}

/*---View users & groups pages ---*/

/* note: use explicit row classes instead of 'tr:nth-child(even)' because generated code doesn't handle it well */
table.simple-list tr.list-row-odd {
    background-color: white;
}
table.simple-list tr.list-row-even {
    background-color: #F2F2F2;
}

table.simple-list tr,
table.simple-list td:first-child,
table.simple-list th:first-child {
    width: 75%;
    text-align: left;
}

table.simple-list td:not(:first-child),
table.simple-list th:not(:first-child) {
    text-align: center;
}

table.simple-list input[type="submit"] {
    margin: 0 0.5em;
}

/*---Resource tree rendering ---*/

.tree {
    background: white;
}

.tree-header {
    padding: 5em 0 2em;
    font-weight: bold;
}

.tree li {
    border-bottom: 1px solid #dddddd;
    list-style-type: circle;
    line-height: 24px;
    padding-bottom: 4px;
}

.Collapsable input {
    float: left;
    padding: 5px 100px;
    border: 1px solid #eee;
    cursor:pointer;
}

div.tree-item {
    display: block;
    float: left;
}

div.perm-title {
    width: 3em;
    float: right;
    text-align: left;

    -webkit-transform: rotate(-70deg); /* Safari */
    -moz-transform: rotate(-70deg); /* Firefox */
    -ms-transform: rotate(-70deg); /* IE */
    -o-transform: rotate(-70deg); /* Opera */
}

.tree-button.goto-service {
    margin: 0.1em 0 0 -4em;
}

.tree-item-message {
    text-align: left;
    color: gray;
    display: inline-flex;
    float: right;
    margin: 0.25em 0 0 0;
}

.tree-item-message>img {
    width: 1.5em;
    height: 1.5em;
    margin: -0.15em 0 0 0;
}

div.perm-checkbox {
    width:3em;
    float:right;
    text-align: left;
    margin: 0.1em 0 0 0;
}

div.tree-button {
    width:5em;
    float:right;
    text-align: center;
    margin: 0.1em 0 0 0;
}

.clear {
  clear: both;
}

/*---Header breadcrumb---*/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #DDDDDD;
    content: ">\00a0";
}
ul.breadcrumb li a {
    color: #DDDDDD;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}

/*---Header---*/

.header {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-gradient(bottom top, black, gray); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(left bottom, black, gray); /* Chrome10+, Safari5.1+ */
    background: -o-linear-gradient(bottom top, black, gray); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom top, black, gray); /* Firefox 3.6 to 15 */
    background: -ms-linear-gradient(bottom top, black, gray); /* IE10+ */
    background: linear-gradient(to bottom top, black, gray); /* Standard syntax (must be last) */
    padding: 1em 1em 0 1em;
}

.header{
    vertical-align: center;
}

.header>div>a {
    color: white;
    font-size: 3em;
    text-decoration: none;
    float: left;
    vertical-align: center;
}

.header>button {
    height: 40px;
    width: 100px;
    float: right;
}

#title-header {
    display: inline-block;
    position: relative;
    left: 0.25em;
}

#image-container {
    float: left;
    position: relative;
    width: 64px;
    height: 64px;
}

#image-background {
    width: inherit;
    height: inherit;
}

#image-background>img {
    width: inherit;
    height: inherit;
}

#image-overlay {
    position: absolute;
    width: inherit;
    height: inherit;
    left: 15px;
    top: 10px;
}

#image-overlay>img {
    width: inherit;
    height: inherit;
}

/*---Home---*/

/*  when the screen width is too small, force
    buttons block-stacking with style override,
    otherwise use default side-by-side view.
    60em number from margins and button sizes
*/
@media only screen and (max-width: 60em) {
    .admin-content {
        display: inline;
    }
}

.admin-content {
    width: 100%;
    text-align: center;
}

.admin-button,
.admin-button:focus,
.admin-button:hover,
.admin-button:active {
    color: #000000;
}

.admin-button {
    display:inline-block;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 10em;
    height: 10em;
    margin: 3em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    /* use separate border values to inherit the theme color */
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
}

.admin-button>img {
    height: 60%;
    padding: 5%;
}

.button-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.img-forbidden {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.error div {
    text-align: center;
}

table.request-details {
    text-align: left;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
}

table.request-details td:first-child {
    white-space: nowrap;
}

table.request-details thead tbody td th {
    text-align: left;
}

/*---Service tabs---*/

.tabs-panel {
    background: #DDDDDD;
    padding: 1px;
}

.current-tab-panel {
    background: white;
    padding: 1em;
    margin: 0;
    border: 1px solid white;
    min-height: 10em;
}

a.current-tab:link,
a.current-tab:visited {
    background-color: white;
    color: black;
    padding: 1em 1em 1.4em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a.tab:link,
a.tab:visited {
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*---service details---*/

table.service-details {
    table-layout: fixed;
}

/*---field form---*/

.new-item-form {
    margin: auto;
    width: 30%;
    min-width: 500px;
}

table.fields-table th,
table.fields-table td {
    border: 0;
    white-space: nowrap;
}

table.fields-table td.centered {
    text-align: center;
}

table.fields-table input[type="radio"] {
    margin-left: 2em;
}

/*---field form equal width inputs
support different browsers using an higher level container
---*/

select.equal-width,
option.equal-width,
input.equal-width {
    width: 250px;
    /*-webkit-box-sizing: border-box;*/
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
}

div.input-container {
    width: 100%;
    height:100%;
    -webkit-box-sizing: border-box;
}
