# make this directory available as it is referenced by some extensions
*.*
!.gitignore
!custom.css
!user-registration-procedure.png
!github-external-login.png
!client-request-flow.drawio
!client-request-flow.html
!network-token-request-flow.drawio
!network-token-request-flow.html
!network-token-delete-flow.drawio
!network-token-delete-flow.html
!account-link-flow.drawio
!account-link-flow.html
