# Magpie Configuration
MAGPIE_URL=
MAGPIE_ENV_DIR=.
MAGPIE_SECRET=seekrit
MAGPIE_COOKIE_NAME=auth_tkt
MAGPIE_COOKIE_EXPIRE=3600
MAGPIE_ADMIN_GROUP=administrators
MAGPIE_ADMIN_USER=admin
MAGPIE_ADMIN_PASSWORD=qwerty
MAGPIE_ANONYMOUS_USER=anonymous
MAGPIE_USERS_GROUP=users
MAGPIE_CRON_LOG=~/magpie_cron.log
MAGPIE_LOG_LEVEL=INFO
MAGPIE_LOG_REQUEST=true
MAGPIE_LOG_EXCEPTION=true
MAGPIE_UI_ENABLED=true
MAGPIE_CONFIG_DIR=../config
PHOENIX_USER=phoenix
PHOENIX_PASSWORD=qwerty
PHOENIX_PORT=8443
PHOENIX_PUSH=true
TWITCHER_PROTECTED_PATH=/ows/proxy

# Magpie Tests
MAGPIE_TEST_ADMIN_USERNAME=magpie
MAGPIE_TEST_ADMIN_PASSWORD=qwerty
MAGPIE_TEST_REMOTE_SERVER_URL=localhost:2001
MAGPIE_TEST_LOCAL=true
MAGPIE_TEST_REMOTE=true
MAGPIE_TEST_API=true
MAGPIE_TEST_UI=true
MAGPIE_TEST_LOGIN=true
MAGPIE_TEST_USERS=true
MAGPIE_TEST_GROUPS=true
MAGPIE_TEST_SERVICES=true
MAGPIE_TEST_RESOURCES=true
MAGPIE_TEST_DEFAULTS=true
MAGPIE_TEST_STATUS=true
MAGPIE_TEST_UTILS=true
MAGPIE_TEST_REGISTER=true
MAGPIE_TEST_FUNCTIONAL=true
