# The MAGPIE_POSTGRES_HOST variable should work with the 'localhost' value by default for a local postgres.
# For a docker-compose stack, the name of the linked postgres image must be used instead to find the network.
MAGPIE_POSTGRES_HOST=localhost
MAGPIE_POSTGRES_USERNAME=magpie
MAGPIE_POSTGRES_PASSWORD=qwerty
MAGPIE_POSTGRES_PORT=5432
MAGPIE_POSTGRES_DB=magpie
